<nav class="navbar navbar-expand-lg navbar-light bg-light bg-white-bg">
  <a href="/"><img src="assets/logo.png"/></a>

  <div id="my-nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">
          <i class="fa fa-search"></i> <span>Search</span>
        </a>
      </li>
      <li class="nav-item " style="margin-left: 10px">
        <a class="nav-link" routerLink="/upload">
          <i class="fa fa-upload"></i> <span>Upload File</span>
        </a>
      </li>
    </ul>
  </div>

  <ul class="nav navbar-nav ml-auto">
    <li ngbDropdown class="nav-item dropdown">
      <a
        id="dropdownMenuButton"
        ngbDropdownToggle
        class="nav-link dropdown-toggle"
        data-toggle="dropdown">Welcome! <i class="fa fa-user-circle-o"></i></a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
        <!-- <a ngbDropdownItem class="dropdown-item">Settings</a>
        <div class="dropdown-divider"></div> -->
        <a ngbDropdownItem class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="d-flex flex-row">
    <div class="col-lg-10 col-md-10 mx-auto">
      <div class="search-box">
        <h1> Domain Search
          <a ngbTooltip="This tooltip gets its inputs from the customized configuration">
            <i class="fa fa-question-circle-o"></i> </a>
        </h1>

        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <div class="input-group main-input-group">
            <div class="form-control-bg">
              <input
                (input)="check($event)"
                id="domainSearch"
                formControlName="domainSearch"
                class="form-control"
                name="domainSearch"
                [(ngModel)]="val"
                placeholder="Enter the domain name"
                [ngClass]="{ 'is-valid': submitted && f.domainSearch.errors }"
                required/>
              <div *ngIf="showError" class="alert alert-danger">
                please enter without www
              </div>
              <div *ngIf="submitted && f.domainSearch.errors" class="alert alert-danger">
                <div *ngIf="f.domainSearch.errors.required">Domain name is required</div>
              </div>
            </div>

            <span class="input-group-btn">
              <button
                (click)="emailSearch()"
                class="btn btn-primary btn-search" id="btnFetch">Search</button>

              <!-- <button
                (click)="emailSearch()"
                class="btn btn-primary btn-search"
              >
                Search
              </button> -->
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <ngx-spinner
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
  </ngx-spinner>
  <app-email-search
    [showSearchPartially]="showEmailSearch"
    [childMessage]="parentMessage"
    [domainName]="val"
    [leadoffset]="offset"
    [isDisable]="false">
  </app-email-search>
  <div *ngIf="showNoRecord"><h3>No record Found</h3></div>
</div>
